#login{
	background-color:rgba(0,128,128,0);
	position: absolute;
	top:60%;
	left:8%;
	padding:40px;
	justify-content:center;
	align-items:center;
	visibility:hidden;
}
#chat{
	background-color:rgba(0,128,128,0);
	position: absolute;
	top:63%;
	left:55%;
	padding:40px;
	justify-content:center;
	align-items:center;
	visibility:hidden;
}
#ranking{
	position: absolute;
	top:12%;
	left:12%;
	padding:40px;
	width:400px;
	justify-content:center;
	align-items:center;
	visibility:hidden;
	font-size:20px;
}
#ranking h1{
	text-align:center;
	background-color:#333;
}
#rank1{
	color:gold;
}
#rank2{
	color:silver;
}
#rank3{
	color:#CD7F32;
}
#msg{
	position: absolute;
	top:58%;
	left:10%;
	
}
#userBanner{
	position: absolute;
	left:42%;
	top:-3%;
	width:300px;
	justify-content:center;
	align-items:center;
	font-size:20px;
	
}
#userText{
	text-align:center;
	background-color:#333;
	color:#80ff00;
}
#chatBg{
	position: absolute;
	left:58%;
	width:640px;
	height:600px;
	background-color:rgba(100,100,100,0.5);
	font-size:20px;
	visibility:hidden;
	border:3px solid #333;
	padding:3px;
}
input{
	width:300px;
	background-color:#555555;
	color:#80ff00;
	font-size:20px;
	border:0;
}
#chat input{
	width:450px;
}
button{
	outline:0;
	border:0;
	background-color:#c0c0c0;
	color:#111111;
	margin:1px;
	margin-top:20px;
	width:200px;
	font-size:20px;
  	box-shadow: 0 9px #666;
  	border-radius: 10px;
	
}
button:hover{
	background-color:#c0c0c0;
  	box-shadow: 0 9px #666;
	color:#80ff00;
	
}
button:active {
  	background-color: #c0c0c0;
  	box-shadow: 0 5px #333;
	color:#80ff00;
  	transform: translateY(4px);
}